.sk_container .sk_hd{
    height: 40px;
    margin-top: 20px;
    box-shadow: 0px 6px 5px rgb(0, 0, 0,.3);
}
.sk_container .sk_hd a{
    display: block;
    float: left;
    margin-left: 30px;
    height: 40px;
    width: 100px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.sk_container .sk_hd a:nth-child(-n+1){
    color: red;
}
.sk_container .sk_bd{
    height: 1100px;
    margin-top: 30px;
}
.sk_container .sk_bd .first h2{
    height: 30px;
    width: 100px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0,.3);
    border-radius: 10px;
}
.sk_bd .up .content_up{
    width: 900px;
    height: 300px;
    margin: 20px 150px;
    border: 1px solid rgb(0, 0, 0,.3);
    box-shadow: 0px 5px 5px rgb(0, 0, 0,.3);
}
.sk_bd .up .content_up .con_left{
    float: left;
    width: 450px;
    height: 300px;
    background:url(../images/活动02.JPG) no-repeat;

}
.sk_bd .up .content_up .con_right{
    float: left;
    width: 448px;
    height: 300px;
    font-size: 16px;
    text-align: center;
}
.sk_bd .up .content_up .con_right ul li{
    display: block;
    margin-top: 8px;
}
.sk_container .sk_bd .end h2{
    height: 30px;
    width: 100px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0,.3);
    border-radius: 10px;
}
.sk_container .sk_bd .down .content_down {
    width: 900px;
    height: 413px;
    margin: 40px 150px;
    border: 1px solid rgb(0, 0, 0,.3);
    box-shadow: 0px 5px 5px rgb(0, 0, 0,.3);
}
.sk_container .sk_bd .down .content_down .con_down_left{
    float: left;
    width: 381px;
    height: 388px;
    background: url(../images/活动01.JPG) no-repeat;
}
.sk_container .sk_bd .down .content_down .con_down_right{
    float: left;
    width: 515px;
    height: 413px;
    font-size: 16px;
    text-align: center;
}
.sk_container .sk_bd .down .content_down .con_down_right ul li{
    display: block;
    margin-top: 15px;
}
.sk_container .sk_bd .down .content_down .con_down_right ul li:nth-child(1){
    margin-top: 30px;
}
.sk_container .sk_bd .down{
    float: left;
}
