.content{
    height: 520px;
    margin-top: 30px;
    border: 1px solid rgb(0, 0, 0,.3);
    border-radius: 30px;
}
.content h3{
    height: 42px;
    font-size: 18px;
    line-height: 42px;
    border-bottom: 1px solid #ccc;
    border-color: #b8b5b5;
}
.content .reg_form{
    width: 600px; 
    margin: 50px auto 0;   
}
.content .reg_form h2{
    margin-bottom: 20px;
}
.content .reg_form ul li{
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    
}
.content .reg_form ul li .picture1{
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url(../images/电话.JPG) no-repeat;
}
.content .reg_form ul li .picture2{
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url(../images/传真.JPG) no-repeat;
}
.content .reg_form ul li .picture3{
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url(../images/邮件.JPG) no-repeat;
}
.content .reg_form ul li .picture4{
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url(../images/邮件.JPG) no-repeat;
}
.content .reg_form ul li .picture5{
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url(../images/客服.JPG) no-repeat;
}
.content .reg_form ul li .picture6{
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url(../images/地址.JPG) no-repeat;
}