.sk_container .sk_hd{
    height: 40px;
    margin-top: 20px;
    box-shadow: 0px 6px 5px rgb(0, 0, 0,.3);
}
.sk_container .sk_hd a{
    display: block;
    float: left;
    margin-left: 30px;
    height: 40px;
    width: 100px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.sk_container .sk_hd a:nth-child(-n+1){
    color: red;
}
.sk_container .sk_bd{
    height: 750px;
    margin-top: 30px;
}
.sk_container .sk_bd .first h2{
    height: 30px;
    width: 100px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0,.3);
    border-radius: 10px;
}
.sk_bd .down{
    width: 800px;
    height: 600px;
    margin: 30px 200px;
    padding-top: 20px;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0,.3);
    border-radius: 30px;
    background-color: rgba(238, 115, 115, 0.3);
}
.sk_bd .down h1{
    margin-left: 3px;
}
.sk_bd .down h3{
    margin-left: 3px;
}